examples/generated_xmlschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://example/namespace"
        xmlns:tns="http://example/namespace"
        elementFormDefault="qualified"
        xmlns="http://www.w3.org/2001/XMLSchema" >
<!-- 
     This XMLSchema was auto-generated by gov.fda.nctr.xdagen.DatabaseXmlSchemaGenerator, Nov 13, 2010 12:55:33 PM.
--> 

  
  <element name="advisory" type="tns:ltkb.advisory"/>

  <complexType name="ltkb.advisory">
    <sequence>
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="advisory_type_id" type="decimal" minOccurs="1"/>
      <element name="text" type="string" minOccurs="1"/>
      <!-- child list elements -->
      <element name="dliscore_advisory-list" type="tns:ltkb.dliscore_advisory-list" minOccurs="0"/>
      <!-- parent elements -->
      <element name="advisory_type" type="tns:ltkb.advisory_type" minOccurs="0"/>
      <element name="drug" type="tns:ltkb.drug" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="advisory-list" type="tns:ltkb.advisory-list"/>

  <complexType name="ltkb.advisory-list">
    <sequence>
      <element name="advisory" type="tns:ltkb.advisory"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="advisory_type" type="tns:ltkb.advisory_type"/>

  <complexType name="ltkb.advisory_type">
    <sequence>
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="authority_id" type="decimal" minOccurs="1"/>
      <!-- child list elements -->
      <element name="advisory-list" type="tns:ltkb.advisory-list" minOccurs="0"/>
      <!-- parent elements -->
      <element name="authority" type="tns:ltkb.authority" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="advisory_type-list" type="tns:ltkb.advisory_type-list"/>

  <complexType name="ltkb.advisory_type-list">
    <sequence>
      <element name="advisory_type" type="tns:ltkb.advisory_type"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="atc_classification" type="tns:ltkb.atc_classification"/>

  <complexType name="ltkb.atc_classification">
    <sequence>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="code" type="string" minOccurs="1"/>
      <!-- child list elements -->
      <!-- parent elements -->
      <element name="drug" type="tns:ltkb.drug" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="atc_classification-list" type="tns:ltkb.atc_classification-list"/>

  <complexType name="ltkb.atc_classification-list">
    <sequence>
      <element name="atc_classification" type="tns:ltkb.atc_classification"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="authority" type="tns:ltkb.authority"/>

  <complexType name="ltkb.authority">
    <sequence>
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="url" type="string" minOccurs="0"/>
      <element name="description" type="string" minOccurs="0"/>
      <!-- child list elements -->
      <element name="drug_liver_injury_score-list" type="tns:ltkb.drug_liver_injury_score-list" minOccurs="0"/>
      <element name="score-list" type="tns:ltkb.score-list" minOccurs="0"/>
      <element name="advisory_type-list" type="tns:ltkb.advisory_type-list" minOccurs="0"/>
      <element name="drug_functional_category-list" type="tns:ltkb.drug_functional_category-list" minOccurs="0"/>
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="authority-list" type="tns:ltkb.authority-list"/>

  <complexType name="ltkb.authority-list">
    <sequence>
      <element name="authority" type="tns:ltkb.authority"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="brand" type="tns:ltkb.brand"/>

  <complexType name="ltkb.brand">
    <sequence>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="brand_name" type="string" minOccurs="1"/>
      <element name="language_code" type="string" minOccurs="0"/>
      <element name="manufacturer_id" type="decimal" minOccurs="0"/>
      <!-- child list elements -->
      <!-- parent elements -->
      <element name="drug" type="tns:ltkb.drug" minOccurs="0"/>
      <element name="manufacturer" type="tns:ltkb.manufacturer" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="brand-list" type="tns:ltkb.brand-list"/>

  <complexType name="ltkb.brand-list">
    <sequence>
      <element name="brand" type="tns:ltkb.brand"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="compound" type="tns:ltkb.compound"/>

  <complexType name="ltkb.compound">
    <sequence>
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="display_name" type="string" minOccurs="0"/>
      <element name="nctr_isis_id" type="string" minOccurs="0"/>
      <element name="smiles" type="string" minOccurs="0"/>
      <element name="canonical_smiles" type="string" minOccurs="0"/>
      <element name="cas" type="string" minOccurs="0"/>
      <element name="mol_formula" type="string" minOccurs="0"/>
      <element name="mol_weight" type="decimal" minOccurs="0"/>
      <element name="mol_file" type="string" minOccurs="0"/>
      <element name="inchi" type="string" minOccurs="0"/>
      <element name="inchi_key" type="string" minOccurs="0"/>
      <element name="standard_inchi" type="string" minOccurs="0"/>
      <element name="standard_inchi_key" type="string" minOccurs="0"/>
      <!-- child list elements -->
      <element name="drug-list" type="tns:ltkb.drug-list" minOccurs="0"/>
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="compound-list" type="tns:ltkb.compound-list"/>

  <complexType name="ltkb.compound-list">
    <sequence>
      <element name="compound" type="tns:ltkb.compound"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="dliscore_advisory" type="tns:ltkb.dliscore_advisory"/>

  <complexType name="ltkb.dliscore_advisory">
    <sequence>
      <element name="drug_liver_injury_score_id" type="decimal" minOccurs="1"/>
      <element name="advisory_id" type="decimal" minOccurs="1"/>
      <element name="seq" type="decimal" minOccurs="0"/>
      <!-- child list elements -->
      <!-- parent elements -->
      <element name="advisory" type="tns:ltkb.advisory" minOccurs="0"/>
      <element name="drug_liver_injury_score" type="tns:ltkb.drug_liver_injury_score" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="dliscore_advisory-list" type="tns:ltkb.dliscore_advisory-list"/>

  <complexType name="ltkb.dliscore_advisory-list">
    <sequence>
      <element name="dliscore_advisory" type="tns:ltkb.dliscore_advisory"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="dliscore_reference" type="tns:ltkb.dliscore_reference"/>

  <complexType name="ltkb.dliscore_reference">
    <sequence>
      <element name="drug_liver_injury_score_id" type="decimal" minOccurs="1"/>
      <element name="reference_id" type="decimal" minOccurs="1"/>
      <element name="seq" type="decimal" minOccurs="0"/>
      <!-- child list elements -->
      <!-- parent elements -->
      <element name="drug_liver_injury_score" type="tns:ltkb.drug_liver_injury_score" minOccurs="0"/>
      <element name="reference" type="tns:ltkb.reference" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="dliscore_reference-list" type="tns:ltkb.dliscore_reference-list"/>

  <complexType name="ltkb.dliscore_reference-list">
    <sequence>
      <element name="dliscore_reference" type="tns:ltkb.dliscore_reference"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug" type="tns:ltkb.drug"/>

  <complexType name="ltkb.drug">
    <sequence>
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="compound_id" type="decimal" minOccurs="1"/>
      <element name="mesh_id" type="string" minOccurs="0"/>
      <element name="drugbank_id" type="string" minOccurs="0"/>
      <element name="cid" type="decimal" minOccurs="0"/>
      <element name="therapeutic_indications" type="string" minOccurs="0"/>
      <!-- child list elements -->
      <element name="brand-list" type="tns:ltkb.brand-list" minOccurs="0"/>
      <element name="advisory-list" type="tns:ltkb.advisory-list" minOccurs="0"/>
      <element name="atc_classification-list" type="tns:ltkb.atc_classification-list" minOccurs="0"/>
      <element name="drug_synonym-list" type="tns:ltkb.drug_synonym-list" minOccurs="0"/>
      <element name="drug_market_status-list" type="tns:ltkb.drug_market_status-list" minOccurs="0"/>
      <element name="fda_application-list" type="tns:ltkb.fda_application-list" minOccurs="0"/>
      <element name="drug_reference-list" type="tns:ltkb.drug_reference-list" minOccurs="0"/>
      <element name="drug_link-list" type="tns:ltkb.drug_link-list" minOccurs="0"/>
      <element name="drug_histopath_class-list" type="tns:ltkb.drug_histopath_class-list" minOccurs="0"/>
      <element name="drug_functional_category-list" type="tns:ltkb.drug_functional_category-list" minOccurs="0"/>
      <element name="drug_liver_injury_score-list" type="tns:ltkb.drug_liver_injury_score-list" minOccurs="0"/>
      <!-- parent elements -->
      <element name="compound" type="tns:ltkb.compound" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug-list" type="tns:ltkb.drug-list"/>

  <complexType name="ltkb.drug-list">
    <sequence>
      <element name="drug" type="tns:ltkb.drug"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_functional_category" type="tns:ltkb.drug_functional_category"/>

  <complexType name="ltkb.drug_functional_category">
    <sequence>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="functional_category_id" type="decimal" minOccurs="1"/>
      <element name="authority_id" type="decimal" minOccurs="1"/>
      <element name="seq" type="decimal" minOccurs="0"/>
      <!-- child list elements -->
      <!-- parent elements -->
      <element name="authority" type="tns:ltkb.authority" minOccurs="0"/>
      <element name="drug" type="tns:ltkb.drug" minOccurs="0"/>
      <element name="functional_category" type="tns:ltkb.functional_category" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_functional_category-list" type="tns:ltkb.drug_functional_category-list"/>

  <complexType name="ltkb.drug_functional_category-list">
    <sequence>
      <element name="drug_functional_category" type="tns:ltkb.drug_functional_category"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_histopath_class" type="tns:ltkb.drug_histopath_class"/>

  <complexType name="ltkb.drug_histopath_class">
    <sequence>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="histopath_cass_id" type="decimal" minOccurs="1"/>
      <!-- child list elements -->
      <!-- parent elements -->
      <element name="drug" type="tns:ltkb.drug" minOccurs="0"/>
      <element name="histopath_class" type="tns:ltkb.histopath_class" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_histopath_class-list" type="tns:ltkb.drug_histopath_class-list"/>

  <complexType name="ltkb.drug_histopath_class-list">
    <sequence>
      <element name="drug_histopath_class" type="tns:ltkb.drug_histopath_class"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_link" type="tns:ltkb.drug_link"/>

  <complexType name="ltkb.drug_link">
    <sequence>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="href" type="string" minOccurs="0"/>
      <!-- child list elements -->
      <!-- parent elements -->
      <element name="drug" type="tns:ltkb.drug" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_link-list" type="tns:ltkb.drug_link-list"/>

  <complexType name="ltkb.drug_link-list">
    <sequence>
      <element name="drug_link" type="tns:ltkb.drug_link"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_liver_injury_score" type="tns:ltkb.drug_liver_injury_score"/>

  <complexType name="ltkb.drug_liver_injury_score">
    <sequence>
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="route_id" type="decimal" minOccurs="1"/>
      <element name="authority_id" type="decimal" minOccurs="1"/>
      <element name="protocol_id" type="decimal" minOccurs="1"/>
      <element name="score_code" type="string" minOccurs="1"/>
      <!-- child list elements -->
      <element name="dliscore_advisory-list" type="tns:ltkb.dliscore_advisory-list" minOccurs="0"/>
      <element name="dliscore_reference-list" type="tns:ltkb.dliscore_reference-list" minOccurs="0"/>
      <!-- parent elements -->
      <element name="authority" type="tns:ltkb.authority" minOccurs="0"/>
      <element name="drug" type="tns:ltkb.drug" minOccurs="0"/>
      <element name="protocol" type="tns:ltkb.protocol" minOccurs="0"/>
      <element name="route" type="tns:ltkb.route" minOccurs="0"/>
      <element name="score" type="tns:ltkb.score" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_liver_injury_score-list" type="tns:ltkb.drug_liver_injury_score-list"/>

  <complexType name="ltkb.drug_liver_injury_score-list">
    <sequence>
      <element name="drug_liver_injury_score" type="tns:ltkb.drug_liver_injury_score"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_market_status" type="tns:ltkb.drug_market_status"/>

  <complexType name="ltkb.drug_market_status">
    <sequence>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="route_id" type="decimal" minOccurs="1"/>
      <element name="country_code" type="string" minOccurs="1"/>
      <element name="market_status_id" type="decimal" minOccurs="1"/>
      <element name="date" type="dateTime" minOccurs="0"/>
      <!-- child list elements -->
      <!-- parent elements -->
      <element name="drug" type="tns:ltkb.drug" minOccurs="0"/>
      <element name="market_status" type="tns:ltkb.market_status" minOccurs="0"/>
      <element name="route" type="tns:ltkb.route" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_market_status-list" type="tns:ltkb.drug_market_status-list"/>

  <complexType name="ltkb.drug_market_status-list">
    <sequence>
      <element name="drug_market_status" type="tns:ltkb.drug_market_status"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_reference" type="tns:ltkb.drug_reference"/>

  <complexType name="ltkb.drug_reference">
    <sequence>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="reference_id" type="decimal" minOccurs="1"/>
      <element name="priority" type="decimal" minOccurs="0"/>
      <!-- child list elements -->
      <!-- parent elements -->
      <element name="drug" type="tns:ltkb.drug" minOccurs="0"/>
      <element name="reference" type="tns:ltkb.reference" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_reference-list" type="tns:ltkb.drug_reference-list"/>

  <complexType name="ltkb.drug_reference-list">
    <sequence>
      <element name="drug_reference" type="tns:ltkb.drug_reference"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_synonym" type="tns:ltkb.drug_synonym"/>

  <complexType name="ltkb.drug_synonym">
    <sequence>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="drug_synonym" type="string" minOccurs="1"/>
      <element name="language_code" type="string" minOccurs="0"/>
      <!-- child list elements -->
      <!-- parent elements -->
      <element name="drug" type="tns:ltkb.drug" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_synonym-list" type="tns:ltkb.drug_synonym-list"/>

  <complexType name="ltkb.drug_synonym-list">
    <sequence>
      <element name="drug_synonym" type="tns:ltkb.drug_synonym"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="fda_application" type="tns:ltkb.fda_application"/>

  <complexType name="ltkb.fda_application">
    <sequence>
      <element name="fda_application_num" type="decimal" minOccurs="1"/>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="fda_doc_type" type="string" minOccurs="0"/>
      <element name="manufacturer_id" type="decimal" minOccurs="0"/>
      <element name="fda_chemical_type_num" type="decimal" minOccurs="0"/>
      <element name="fda_document_type_code" type="string" minOccurs="0"/>
      <!-- child list elements -->
      <!-- parent elements -->
      <element name="drug" type="tns:ltkb.drug" minOccurs="0"/>
      <element name="fda_chemical_type" type="tns:ltkb.fda_chemical_type" minOccurs="0"/>
      <element name="fda_document_type" type="tns:ltkb.fda_document_type" minOccurs="0"/>
      <element name="manufacturer" type="tns:ltkb.manufacturer" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="fda_application-list" type="tns:ltkb.fda_application-list"/>

  <complexType name="ltkb.fda_application-list">
    <sequence>
      <element name="fda_application" type="tns:ltkb.fda_application"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="fda_chemical_type" type="tns:ltkb.fda_chemical_type"/>

  <complexType name="ltkb.fda_chemical_type">
    <sequence>
      <element name="chemical_type_num" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="0"/>
      <element name="description" type="string" minOccurs="0"/>
      <!-- child list elements -->
      <element name="fda_application-list" type="tns:ltkb.fda_application-list" minOccurs="0"/>
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="fda_chemical_type-list" type="tns:ltkb.fda_chemical_type-list"/>

  <complexType name="ltkb.fda_chemical_type-list">
    <sequence>
      <element name="fda_chemical_type" type="tns:ltkb.fda_chemical_type"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="fda_document_type" type="tns:ltkb.fda_document_type"/>

  <complexType name="ltkb.fda_document_type">
    <sequence>
      <element name="document_type_code" type="string" minOccurs="1"/>
      <element name="name" type="string" minOccurs="0"/>
      <element name="description" type="string" minOccurs="0"/>
      <!-- child list elements -->
      <element name="fda_application-list" type="tns:ltkb.fda_application-list" minOccurs="0"/>
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="fda_document_type-list" type="tns:ltkb.fda_document_type-list"/>

  <complexType name="ltkb.fda_document_type-list">
    <sequence>
      <element name="fda_document_type" type="tns:ltkb.fda_document_type"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="functional_category" type="tns:ltkb.functional_category"/>

  <complexType name="ltkb.functional_category">
    <sequence>
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      <element name="parent_functional_category_id" type="decimal" minOccurs="0"/>
      <!-- child list elements -->
      <element name="functional_category-list" type="tns:ltkb.functional_category-list" minOccurs="0"/>
      <element name="drug_functional_category-list" type="tns:ltkb.drug_functional_category-list" minOccurs="0"/>
      <!-- parent elements -->
      <element name="functional_category" type="tns:ltkb.functional_category" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="functional_category-list" type="tns:ltkb.functional_category-list"/>

  <complexType name="ltkb.functional_category-list">
    <sequence>
      <element name="functional_category" type="tns:ltkb.functional_category"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="histopath_class" type="tns:ltkb.histopath_class"/>

  <complexType name="ltkb.histopath_class">
    <sequence>
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      <element name="parent_class_id" type="decimal" minOccurs="0"/>
      <!-- child list elements -->
      <element name="drug_histopath_class-list" type="tns:ltkb.drug_histopath_class-list" minOccurs="0"/>
      <element name="histopath_class-list" type="tns:ltkb.histopath_class-list" minOccurs="0"/>
      <element name="histopath_class_concept-list" type="tns:ltkb.histopath_class_concept-list" minOccurs="0"/>
      <!-- parent elements -->
      <element name="histopath_class" type="tns:ltkb.histopath_class" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="histopath_class-list" type="tns:ltkb.histopath_class-list"/>

  <complexType name="ltkb.histopath_class-list">
    <sequence>
      <element name="histopath_class" type="tns:ltkb.histopath_class"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="histopath_class_concept" type="tns:ltkb.histopath_class_concept"/>

  <complexType name="ltkb.histopath_class_concept">
    <sequence>
      <element name="histopath_class_id" type="decimal" minOccurs="1"/>
      <element name="snomedct_concept_id" type="decimal" minOccurs="1"/>
      <!-- child list elements -->
      <!-- parent elements -->
      <element name="histopath_class" type="tns:ltkb.histopath_class" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="histopath_class_concept-list" type="tns:ltkb.histopath_class_concept-list"/>

  <complexType name="ltkb.histopath_class_concept-list">
    <sequence>
      <element name="histopath_class_concept" type="tns:ltkb.histopath_class_concept"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="histopath_class_concept_v" type="tns:ltkb.histopath_class_concept_v"/>

  <complexType name="ltkb.histopath_class_concept_v">
    <sequence>
      <element name="histopath_class_id" type="decimal" minOccurs="1"/>
      <element name="histopath_class_name" type="string" minOccurs="1"/>
      <element name="snomedct_concept_id" type="decimal" minOccurs="1"/>
      <element name="snomedct_fullyspecifiedname" type="string" minOccurs="1"/>
      <!-- child list elements -->
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="histopath_class_concept_v-list" type="tns:ltkb.histopath_class_concept_v-list"/>

  <complexType name="ltkb.histopath_class_concept_v-list">
    <sequence>
      <element name="histopath_class_concept_v" type="tns:ltkb.histopath_class_concept_v"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="histopath_class_snomed_tree_v" type="tns:ltkb.histopath_class_snomed_tree_v"/>

  <complexType name="ltkb.histopath_class_snomed_tree_v">
    <sequence>
      <element name="treeorder_rownum" type="decimal" minOccurs="0"/>
      <element name="fullyspecifiedname" type="string" minOccurs="1"/>
      <element name="indented_fullyspecifiedname" type="string" minOccurs="0"/>
      <element name="conceptid" type="decimal" minOccurs="0"/>
      <element name="lvl" type="decimal" minOccurs="0"/>
      <element name="parent_path" type="string" minOccurs="0"/>
      <element name="nctr_histopath_class" type="string" minOccurs="0"/>
      <!-- child list elements -->
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="histopath_class_snomed_tree_v-list" type="tns:ltkb.histopath_class_snomed_tree_v-list"/>

  <complexType name="ltkb.histopath_class_snomed_tree_v-list">
    <sequence>
      <element name="histopath_class_snomed_tree_v" type="tns:ltkb.histopath_class_snomed_tree_v"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="manufacturer" type="tns:ltkb.manufacturer"/>

  <complexType name="ltkb.manufacturer">
    <sequence>
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <!-- child list elements -->
      <element name="brand-list" type="tns:ltkb.brand-list" minOccurs="0"/>
      <element name="fda_application-list" type="tns:ltkb.fda_application-list" minOccurs="0"/>
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="manufacturer-list" type="tns:ltkb.manufacturer-list"/>

  <complexType name="ltkb.manufacturer-list">
    <sequence>
      <element name="manufacturer" type="tns:ltkb.manufacturer"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="market_status" type="tns:ltkb.market_status"/>

  <complexType name="ltkb.market_status">
    <sequence>
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      <!-- child list elements -->
      <element name="drug_market_status-list" type="tns:ltkb.drug_market_status-list" minOccurs="0"/>
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="market_status-list" type="tns:ltkb.market_status-list"/>

  <complexType name="ltkb.market_status-list">
    <sequence>
      <element name="market_status" type="tns:ltkb.market_status"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="protocol" type="tns:ltkb.protocol"/>

  <complexType name="ltkb.protocol">
    <sequence>
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="file_contents" type="base64Binary" minOccurs="0"/>
      <element name="file_name" type="string" minOccurs="0"/>
      <!-- child list elements -->
      <element name="drug_liver_injury_score-list" type="tns:ltkb.drug_liver_injury_score-list" minOccurs="0"/>
      <element name="protocol_param-list" type="tns:ltkb.protocol_param-list" minOccurs="0"/>
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="protocol-list" type="tns:ltkb.protocol-list"/>

  <complexType name="ltkb.protocol-list">
    <sequence>
      <element name="protocol" type="tns:ltkb.protocol"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="protocol_param" type="tns:ltkb.protocol_param"/>

  <complexType name="ltkb.protocol_param">
    <sequence>
      <element name="protocol_id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="string_value" type="string" minOccurs="0"/>
      <element name="numeric_value" type="decimal" minOccurs="0"/>
      <!-- child list elements -->
      <!-- parent elements -->
      <element name="protocol" type="tns:ltkb.protocol" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="protocol_param-list" type="tns:ltkb.protocol_param-list"/>

  <complexType name="ltkb.protocol_param-list">
    <sequence>
      <element name="protocol_param" type="tns:ltkb.protocol_param"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="reference" type="tns:ltkb.reference"/>

  <complexType name="ltkb.reference">
    <sequence>
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="publication" type="string" minOccurs="1"/>
      <!-- child list elements -->
      <element name="dliscore_reference-list" type="tns:ltkb.dliscore_reference-list" minOccurs="0"/>
      <element name="drug_reference-list" type="tns:ltkb.drug_reference-list" minOccurs="0"/>
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="reference-list" type="tns:ltkb.reference-list"/>

  <complexType name="ltkb.reference-list">
    <sequence>
      <element name="reference" type="tns:ltkb.reference"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="route" type="tns:ltkb.route"/>

  <complexType name="ltkb.route">
    <sequence>
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      <!-- child list elements -->
      <element name="drug_liver_injury_score-list" type="tns:ltkb.drug_liver_injury_score-list" minOccurs="0"/>
      <element name="drug_market_status-list" type="tns:ltkb.drug_market_status-list" minOccurs="0"/>
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="route-list" type="tns:ltkb.route-list"/>

  <complexType name="ltkb.route-list">
    <sequence>
      <element name="route" type="tns:ltkb.route"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="score" type="tns:ltkb.score"/>

  <complexType name="ltkb.score">
    <sequence>
      <element name="authority_id" type="decimal" minOccurs="1"/>
      <element name="score_code" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      <element name="severity_seq" type="decimal" minOccurs="0"/>
      <!-- child list elements -->
      <element name="drug_liver_injury_score-list" type="tns:ltkb.drug_liver_injury_score-list" minOccurs="0"/>
      <!-- parent elements -->
      <element name="authority" type="tns:ltkb.authority" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="score-list" type="tns:ltkb.score-list"/>

  <complexType name="ltkb.score-list">
    <sequence>
      <element name="score" type="tns:ltkb.score"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
</schema>

