examples/xmlschema_inline_el_colls.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://example/namespace"
        xmlns:tns="http://example/namespace"
        elementFormDefault="qualified"
        xmlns="http://www.w3.org/2001/XMLSchema" >
<!-- 
     This XMLSchema was auto-generated by gov.fda.nctr.xdagen.DatabaseXmlSchemaGenerator, Nov 14, 2010 4:15:24 PM.
--> 

  
  <element name="advisory" type="tns:advisory"/>

  <complexType name="advisory">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="advisory_type_id" type="decimal" minOccurs="1"/>
      <element name="text" type="string" minOccurs="1"/>
      
      <!-- child elements -->
      <xsd:element name="dliscore_advisory-child-list-included" type="boolean"/>
      <element name="dliscore_advisory" type="tns:dliscore_advisory" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
      <xsd:element name="advisory_type-parent-included" type="boolean"/>
      <element name="advisory_type" type="tns:advisory_type" minOccurs="0"/>
      <xsd:element name="drug-parent-included" type="boolean"/>
      <element name="drug" type="tns:drug" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="advisory-listing" type="tns:advisory-listing"/>

  <complexType name="advisory-listing">
    <sequence>
      <element name="advisory" type="tns:advisory"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="advisory_type" type="tns:advisory_type"/>

  <complexType name="advisory_type">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="authority_id" type="decimal" minOccurs="1"/>
      
      <!-- child elements -->
      <xsd:element name="advisory-child-list-included" type="boolean"/>
      <element name="advisory" type="tns:advisory" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
      <xsd:element name="authority-parent-included" type="boolean"/>
      <element name="authority" type="tns:authority" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="advisory_type-listing" type="tns:advisory_type-listing"/>

  <complexType name="advisory_type-listing">
    <sequence>
      <element name="advisory_type" type="tns:advisory_type"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="atc_classification" type="tns:atc_classification"/>

  <complexType name="atc_classification">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="code" type="string" minOccurs="1"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <xsd:element name="drug-parent-included" type="boolean"/>
      <element name="drug" type="tns:drug" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="atc_classification-listing" type="tns:atc_classification-listing"/>

  <complexType name="atc_classification-listing">
    <sequence>
      <element name="atc_classification" type="tns:atc_classification"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="authority" type="tns:authority"/>

  <complexType name="authority">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="url" type="string" minOccurs="0"/>
      <element name="description" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <xsd:element name="drug_functional_category-child-list-included" type="boolean"/>
      <element name="drug_functional_category" type="tns:drug_functional_category" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="drug_liver_injury_score-child-list-included" type="boolean"/>
      <element name="drug_liver_injury_score" type="tns:drug_liver_injury_score" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="score-child-list-included" type="boolean"/>
      <element name="score" type="tns:score" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="advisory_type-child-list-included" type="boolean"/>
      <element name="advisory_type" type="tns:advisory_type" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="authority-listing" type="tns:authority-listing"/>

  <complexType name="authority-listing">
    <sequence>
      <element name="authority" type="tns:authority"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="brand" type="tns:brand"/>

  <complexType name="brand">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="brand_name" type="string" minOccurs="1"/>
      <element name="language_code" type="string" minOccurs="0"/>
      <element name="manufacturer_id" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <xsd:element name="drug-parent-included" type="boolean"/>
      <element name="drug" type="tns:drug" minOccurs="0"/>
      <xsd:element name="manufacturer-parent-included" type="boolean"/>
      <element name="manufacturer" type="tns:manufacturer" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="brand-listing" type="tns:brand-listing"/>

  <complexType name="brand-listing">
    <sequence>
      <element name="brand" type="tns:brand"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="compound" type="tns:compound"/>

  <complexType name="compound">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="display_name" type="string" minOccurs="0"/>
      <element name="nctr_isis_id" type="string" minOccurs="0"/>
      <element name="smiles" type="string" minOccurs="0"/>
      <element name="canonical_smiles" type="string" minOccurs="0"/>
      <element name="cas" type="string" minOccurs="0"/>
      <element name="mol_formula" type="string" minOccurs="0"/>
      <element name="mol_weight" type="decimal" minOccurs="0"/>
      <element name="mol_file" type="string" minOccurs="0"/>
      <element name="inchi" type="string" minOccurs="0"/>
      <element name="inchi_key" type="string" minOccurs="0"/>
      <element name="standard_inchi" type="string" minOccurs="0"/>
      <element name="standard_inchi_key" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <xsd:element name="drug-child-list-included" type="boolean"/>
      <element name="drug" type="tns:drug" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="compound-listing" type="tns:compound-listing"/>

  <complexType name="compound-listing">
    <sequence>
      <element name="compound" type="tns:compound"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="dliscore_advisory" type="tns:dliscore_advisory"/>

  <complexType name="dliscore_advisory">
    <sequence>
      <!-- fields -->
      <element name="drug_liver_injury_score_id" type="decimal" minOccurs="1"/>
      <element name="advisory_id" type="decimal" minOccurs="1"/>
      <element name="seq" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <xsd:element name="advisory-parent-included" type="boolean"/>
      <element name="advisory" type="tns:advisory" minOccurs="0"/>
      <xsd:element name="drug_liver_injury_score-parent-included" type="boolean"/>
      <element name="drug_liver_injury_score" type="tns:drug_liver_injury_score" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="dliscore_advisory-listing" type="tns:dliscore_advisory-listing"/>

  <complexType name="dliscore_advisory-listing">
    <sequence>
      <element name="dliscore_advisory" type="tns:dliscore_advisory"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="dliscore_reference" type="tns:dliscore_reference"/>

  <complexType name="dliscore_reference">
    <sequence>
      <!-- fields -->
      <element name="drug_liver_injury_score_id" type="decimal" minOccurs="1"/>
      <element name="reference_id" type="decimal" minOccurs="1"/>
      <element name="seq" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <xsd:element name="drug_liver_injury_score-parent-included" type="boolean"/>
      <element name="drug_liver_injury_score" type="tns:drug_liver_injury_score" minOccurs="0"/>
      <xsd:element name="reference-parent-included" type="boolean"/>
      <element name="reference" type="tns:reference" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="dliscore_reference-listing" type="tns:dliscore_reference-listing"/>

  <complexType name="dliscore_reference-listing">
    <sequence>
      <element name="dliscore_reference" type="tns:dliscore_reference"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug" type="tns:drug"/>

  <complexType name="drug">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="compound_id" type="decimal" minOccurs="1"/>
      <element name="mesh_id" type="string" minOccurs="0"/>
      <element name="drugbank_id" type="string" minOccurs="0"/>
      <element name="cid" type="decimal" minOccurs="0"/>
      <element name="therapeutic_indications" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <xsd:element name="drug_histopath_class-child-list-included" type="boolean"/>
      <element name="drug_histopath_class" type="tns:drug_histopath_class" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="brand-child-list-included" type="boolean"/>
      <element name="brand" type="tns:brand" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="drug_functional_category-child-list-included" type="boolean"/>
      <element name="drug_functional_category" type="tns:drug_functional_category" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="drug_link-child-list-included" type="boolean"/>
      <element name="drug_link" type="tns:drug_link" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="advisory-child-list-included" type="boolean"/>
      <element name="advisory" type="tns:advisory" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="drug_market_status-child-list-included" type="boolean"/>
      <element name="drug_market_status" type="tns:drug_market_status" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="atc_classification-child-list-included" type="boolean"/>
      <element name="atc_classification" type="tns:atc_classification" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="drug_synonym-child-list-included" type="boolean"/>
      <element name="drug_synonym" type="tns:drug_synonym" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="fda_application-child-list-included" type="boolean"/>
      <element name="fda_application" type="tns:fda_application" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="drug_liver_injury_score-child-list-included" type="boolean"/>
      <element name="drug_liver_injury_score" type="tns:drug_liver_injury_score" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="drug_reference-child-list-included" type="boolean"/>
      <element name="drug_reference" type="tns:drug_reference" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
      <xsd:element name="compound-parent-included" type="boolean"/>
      <element name="compound" type="tns:compound" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug-listing" type="tns:drug-listing"/>

  <complexType name="drug-listing">
    <sequence>
      <element name="drug" type="tns:drug"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_functional_category" type="tns:drug_functional_category"/>

  <complexType name="drug_functional_category">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="functional_category_id" type="decimal" minOccurs="1"/>
      <element name="authority_id" type="decimal" minOccurs="1"/>
      <element name="seq" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <xsd:element name="authority-parent-included" type="boolean"/>
      <element name="authority" type="tns:authority" minOccurs="0"/>
      <xsd:element name="drug-parent-included" type="boolean"/>
      <element name="drug" type="tns:drug" minOccurs="0"/>
      <xsd:element name="functional_category-parent-included" type="boolean"/>
      <element name="functional_category" type="tns:functional_category" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_functional_category-listing" type="tns:drug_functional_category-listing"/>

  <complexType name="drug_functional_category-listing">
    <sequence>
      <element name="drug_functional_category" type="tns:drug_functional_category"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_histopath_class" type="tns:drug_histopath_class"/>

  <complexType name="drug_histopath_class">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="histopath_cass_id" type="decimal" minOccurs="1"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <xsd:element name="drug-parent-included" type="boolean"/>
      <element name="drug" type="tns:drug" minOccurs="0"/>
      <xsd:element name="histopath_class-parent-included" type="boolean"/>
      <element name="histopath_class" type="tns:histopath_class" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_histopath_class-listing" type="tns:drug_histopath_class-listing"/>

  <complexType name="drug_histopath_class-listing">
    <sequence>
      <element name="drug_histopath_class" type="tns:drug_histopath_class"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_link" type="tns:drug_link"/>

  <complexType name="drug_link">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="href" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <xsd:element name="drug-parent-included" type="boolean"/>
      <element name="drug" type="tns:drug" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_link-listing" type="tns:drug_link-listing"/>

  <complexType name="drug_link-listing">
    <sequence>
      <element name="drug_link" type="tns:drug_link"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_liver_injury_score" type="tns:drug_liver_injury_score"/>

  <complexType name="drug_liver_injury_score">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="route_id" type="decimal" minOccurs="1"/>
      <element name="authority_id" type="decimal" minOccurs="1"/>
      <element name="protocol_id" type="decimal" minOccurs="1"/>
      <element name="score_code" type="string" minOccurs="1"/>
      
      <!-- child elements -->
      <xsd:element name="dliscore_advisory-child-list-included" type="boolean"/>
      <element name="dliscore_advisory" type="tns:dliscore_advisory" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="dliscore_reference-child-list-included" type="boolean"/>
      <element name="dliscore_reference" type="tns:dliscore_reference" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
      <xsd:element name="authority-parent-included" type="boolean"/>
      <element name="authority" type="tns:authority" minOccurs="0"/>
      <xsd:element name="drug-parent-included" type="boolean"/>
      <element name="drug" type="tns:drug" minOccurs="0"/>
      <xsd:element name="protocol-parent-included" type="boolean"/>
      <element name="protocol" type="tns:protocol" minOccurs="0"/>
      <xsd:element name="route-parent-included" type="boolean"/>
      <element name="route" type="tns:route" minOccurs="0"/>
      <xsd:element name="score-parent-included" type="boolean"/>
      <element name="score" type="tns:score" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_liver_injury_score-listing" type="tns:drug_liver_injury_score-listing"/>

  <complexType name="drug_liver_injury_score-listing">
    <sequence>
      <element name="drug_liver_injury_score" type="tns:drug_liver_injury_score"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_market_status" type="tns:drug_market_status"/>

  <complexType name="drug_market_status">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="route_id" type="decimal" minOccurs="1"/>
      <element name="country_code" type="string" minOccurs="1"/>
      <element name="market_status_id" type="decimal" minOccurs="1"/>
      <element name="date" type="dateTime" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <xsd:element name="drug-parent-included" type="boolean"/>
      <element name="drug" type="tns:drug" minOccurs="0"/>
      <xsd:element name="market_status-parent-included" type="boolean"/>
      <element name="market_status" type="tns:market_status" minOccurs="0"/>
      <xsd:element name="route-parent-included" type="boolean"/>
      <element name="route" type="tns:route" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_market_status-listing" type="tns:drug_market_status-listing"/>

  <complexType name="drug_market_status-listing">
    <sequence>
      <element name="drug_market_status" type="tns:drug_market_status"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_reference" type="tns:drug_reference"/>

  <complexType name="drug_reference">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="reference_id" type="decimal" minOccurs="1"/>
      <element name="priority" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <xsd:element name="drug-parent-included" type="boolean"/>
      <element name="drug" type="tns:drug" minOccurs="0"/>
      <xsd:element name="reference-parent-included" type="boolean"/>
      <element name="reference" type="tns:reference" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_reference-listing" type="tns:drug_reference-listing"/>

  <complexType name="drug_reference-listing">
    <sequence>
      <element name="drug_reference" type="tns:drug_reference"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_synonym" type="tns:drug_synonym"/>

  <complexType name="drug_synonym">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="drug_synonym" type="string" minOccurs="1"/>
      <element name="language_code" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <xsd:element name="drug-parent-included" type="boolean"/>
      <element name="drug" type="tns:drug" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_synonym-listing" type="tns:drug_synonym-listing"/>

  <complexType name="drug_synonym-listing">
    <sequence>
      <element name="drug_synonym" type="tns:drug_synonym"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="fda_application" type="tns:fda_application"/>

  <complexType name="fda_application">
    <sequence>
      <!-- fields -->
      <element name="fda_application_num" type="decimal" minOccurs="1"/>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="fda_doc_type" type="string" minOccurs="0"/>
      <element name="manufacturer_id" type="decimal" minOccurs="0"/>
      <element name="fda_chemical_type_num" type="decimal" minOccurs="0"/>
      <element name="fda_document_type_code" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <xsd:element name="drug-parent-included" type="boolean"/>
      <element name="drug" type="tns:drug" minOccurs="0"/>
      <xsd:element name="fda_chemical_type-parent-included" type="boolean"/>
      <element name="fda_chemical_type" type="tns:fda_chemical_type" minOccurs="0"/>
      <xsd:element name="fda_document_type-parent-included" type="boolean"/>
      <element name="fda_document_type" type="tns:fda_document_type" minOccurs="0"/>
      <xsd:element name="manufacturer-parent-included" type="boolean"/>
      <element name="manufacturer" type="tns:manufacturer" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="fda_application-listing" type="tns:fda_application-listing"/>

  <complexType name="fda_application-listing">
    <sequence>
      <element name="fda_application" type="tns:fda_application"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="fda_chemical_type" type="tns:fda_chemical_type"/>

  <complexType name="fda_chemical_type">
    <sequence>
      <!-- fields -->
      <element name="chemical_type_num" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="0"/>
      <element name="description" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <xsd:element name="fda_application-child-list-included" type="boolean"/>
      <element name="fda_application" type="tns:fda_application" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="fda_chemical_type-listing" type="tns:fda_chemical_type-listing"/>

  <complexType name="fda_chemical_type-listing">
    <sequence>
      <element name="fda_chemical_type" type="tns:fda_chemical_type"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="fda_document_type" type="tns:fda_document_type"/>

  <complexType name="fda_document_type">
    <sequence>
      <!-- fields -->
      <element name="document_type_code" type="string" minOccurs="1"/>
      <element name="name" type="string" minOccurs="0"/>
      <element name="description" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <xsd:element name="fda_application-child-list-included" type="boolean"/>
      <element name="fda_application" type="tns:fda_application" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="fda_document_type-listing" type="tns:fda_document_type-listing"/>

  <complexType name="fda_document_type-listing">
    <sequence>
      <element name="fda_document_type" type="tns:fda_document_type"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="functional_category" type="tns:functional_category"/>

  <complexType name="functional_category">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      <element name="parent_functional_category_id" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      <xsd:element name="drug_functional_category-child-list-included" type="boolean"/>
      <element name="drug_functional_category" type="tns:drug_functional_category" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="functional_category-child-list-included" type="boolean"/>
      <element name="functional_category" type="tns:functional_category" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
      <xsd:element name="functional_category-parent-included" type="boolean"/>
      <element name="functional_category" type="tns:functional_category" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="functional_category-listing" type="tns:functional_category-listing"/>

  <complexType name="functional_category-listing">
    <sequence>
      <element name="functional_category" type="tns:functional_category"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="histopath_class" type="tns:histopath_class"/>

  <complexType name="histopath_class">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      <element name="parent_class_id" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      <xsd:element name="drug_histopath_class-child-list-included" type="boolean"/>
      <element name="drug_histopath_class" type="tns:drug_histopath_class" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="histopath_class-child-list-included" type="boolean"/>
      <element name="histopath_class" type="tns:histopath_class" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="histopath_class_concept-child-list-included" type="boolean"/>
      <element name="histopath_class_concept" type="tns:histopath_class_concept" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
      <xsd:element name="histopath_class-parent-included" type="boolean"/>
      <element name="histopath_class" type="tns:histopath_class" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="histopath_class-listing" type="tns:histopath_class-listing"/>

  <complexType name="histopath_class-listing">
    <sequence>
      <element name="histopath_class" type="tns:histopath_class"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="histopath_class_concept" type="tns:histopath_class_concept"/>

  <complexType name="histopath_class_concept">
    <sequence>
      <!-- fields -->
      <element name="histopath_class_id" type="decimal" minOccurs="1"/>
      <element name="snomedct_concept_id" type="decimal" minOccurs="1"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <xsd:element name="histopath_class-parent-included" type="boolean"/>
      <element name="histopath_class" type="tns:histopath_class" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="histopath_class_concept-listing" type="tns:histopath_class_concept-listing"/>

  <complexType name="histopath_class_concept-listing">
    <sequence>
      <element name="histopath_class_concept" type="tns:histopath_class_concept"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="manufacturer" type="tns:manufacturer"/>

  <complexType name="manufacturer">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      
      <!-- child elements -->
      <xsd:element name="brand-child-list-included" type="boolean"/>
      <element name="brand" type="tns:brand" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="fda_application-child-list-included" type="boolean"/>
      <element name="fda_application" type="tns:fda_application" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="manufacturer-listing" type="tns:manufacturer-listing"/>

  <complexType name="manufacturer-listing">
    <sequence>
      <element name="manufacturer" type="tns:manufacturer"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="market_status" type="tns:market_status"/>

  <complexType name="market_status">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <xsd:element name="drug_market_status-child-list-included" type="boolean"/>
      <element name="drug_market_status" type="tns:drug_market_status" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="market_status-listing" type="tns:market_status-listing"/>

  <complexType name="market_status-listing">
    <sequence>
      <element name="market_status" type="tns:market_status"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="protocol" type="tns:protocol"/>

  <complexType name="protocol">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="file_contents" type="base64Binary" minOccurs="0"/>
      <element name="file_name" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <xsd:element name="drug_liver_injury_score-child-list-included" type="boolean"/>
      <element name="drug_liver_injury_score" type="tns:drug_liver_injury_score" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="protocol_param-child-list-included" type="boolean"/>
      <element name="protocol_param" type="tns:protocol_param" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="protocol-listing" type="tns:protocol-listing"/>

  <complexType name="protocol-listing">
    <sequence>
      <element name="protocol" type="tns:protocol"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="protocol_param" type="tns:protocol_param"/>

  <complexType name="protocol_param">
    <sequence>
      <!-- fields -->
      <element name="protocol_id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="string_value" type="string" minOccurs="0"/>
      <element name="numeric_value" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <xsd:element name="protocol-parent-included" type="boolean"/>
      <element name="protocol" type="tns:protocol" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="protocol_param-listing" type="tns:protocol_param-listing"/>

  <complexType name="protocol_param-listing">
    <sequence>
      <element name="protocol_param" type="tns:protocol_param"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="reference" type="tns:reference"/>

  <complexType name="reference">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="publication" type="string" minOccurs="1"/>
      
      <!-- child elements -->
      <xsd:element name="drug_reference-child-list-included" type="boolean"/>
      <element name="drug_reference" type="tns:drug_reference" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="dliscore_reference-child-list-included" type="boolean"/>
      <element name="dliscore_reference" type="tns:dliscore_reference" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="reference-listing" type="tns:reference-listing"/>

  <complexType name="reference-listing">
    <sequence>
      <element name="reference" type="tns:reference"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="route" type="tns:route"/>

  <complexType name="route">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <xsd:element name="drug_liver_injury_score-child-list-included" type="boolean"/>
      <element name="drug_liver_injury_score" type="tns:drug_liver_injury_score" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="drug_market_status-child-list-included" type="boolean"/>
      <element name="drug_market_status" type="tns:drug_market_status" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="route-listing" type="tns:route-listing"/>

  <complexType name="route-listing">
    <sequence>
      <element name="route" type="tns:route"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="score" type="tns:score"/>

  <complexType name="score">
    <sequence>
      <!-- fields -->
      <element name="authority_id" type="decimal" minOccurs="1"/>
      <element name="score_code" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      <element name="severity_seq" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      <xsd:element name="drug_liver_injury_score-child-list-included" type="boolean"/>
      <element name="drug_liver_injury_score" type="tns:drug_liver_injury_score" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
      <xsd:element name="authority-parent-included" type="boolean"/>
      <element name="authority" type="tns:authority" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="score-listing" type="tns:score-listing"/>

  <complexType name="score-listing">
    <sequence>
      <element name="score" type="tns:score"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
</schema>
