examples/xmlschema_wrapped_el_colls.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://example/namespace"
        xmlns:tns="http://example/namespace"
        elementFormDefault="qualified"
        xmlns="http://www.w3.org/2001/XMLSchema" >
<!-- 
     This XMLSchema was auto-generated by gov.fda.nctr.xdagen.DatabaseXmlSchemaGenerator, Nov 14, 2010 2:16:02 PM.
--> 

  
  <element name="advisory" type="tns:ADVISORY"/>

  <complexType name="ADVISORY">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="advisory_type_id" type="decimal" minOccurs="1"/>
      <element name="text" type="string" minOccurs="1"/>
      
      <!-- child elements -->
      <element name="dliscore_advisory-listing" type="tns:DLISCORE_ADVISORY-listing" minOccurs="0"/>
      
      <!-- parent elements -->
      <element name="advisory_type" type="tns:ADVISORY_TYPE" minOccurs="0"/>
      <element name="drug" type="tns:DRUG" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="advisory-listing" type="tns:ADVISORY-listing"/>

  <complexType name="ADVISORY-listing">
    <sequence>
      <element name="advisory" type="tns:ADVISORY"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="advisory_type" type="tns:ADVISORY_TYPE"/>

  <complexType name="ADVISORY_TYPE">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="authority_id" type="decimal" minOccurs="1"/>
      
      <!-- child elements -->
      <element name="advisory-listing" type="tns:ADVISORY-listing" minOccurs="0"/>
      
      <!-- parent elements -->
      <element name="authority" type="tns:AUTHORITY" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="advisory_type-listing" type="tns:ADVISORY_TYPE-listing"/>

  <complexType name="ADVISORY_TYPE-listing">
    <sequence>
      <element name="advisory_type" type="tns:ADVISORY_TYPE"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="atc_classification" type="tns:ATC_CLASSIFICATION"/>

  <complexType name="ATC_CLASSIFICATION">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="code" type="string" minOccurs="1"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="drug" type="tns:DRUG" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="atc_classification-listing" type="tns:ATC_CLASSIFICATION-listing"/>

  <complexType name="ATC_CLASSIFICATION-listing">
    <sequence>
      <element name="atc_classification" type="tns:ATC_CLASSIFICATION"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="authority" type="tns:AUTHORITY"/>

  <complexType name="AUTHORITY">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="url" type="string" minOccurs="0"/>
      <element name="description" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="drug_functional_category-listing" type="tns:DRUG_FUNCTIONAL_CATEGORY-listing" minOccurs="0"/>
      <element name="drug_liver_injury_score-listing" type="tns:DRUG_LIVER_INJURY_SCORE-listing" minOccurs="0"/>
      <element name="score-listing" type="tns:SCORE-listing" minOccurs="0"/>
      <element name="advisory_type-listing" type="tns:ADVISORY_TYPE-listing" minOccurs="0"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="authority-listing" type="tns:AUTHORITY-listing"/>

  <complexType name="AUTHORITY-listing">
    <sequence>
      <element name="authority" type="tns:AUTHORITY"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="brand" type="tns:BRAND"/>

  <complexType name="BRAND">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="brand_name" type="string" minOccurs="1"/>
      <element name="language_code" type="string" minOccurs="0"/>
      <element name="manufacturer_id" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="drug" type="tns:DRUG" minOccurs="0"/>
      <element name="manufacturer" type="tns:MANUFACTURER" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="brand-listing" type="tns:BRAND-listing"/>

  <complexType name="BRAND-listing">
    <sequence>
      <element name="brand" type="tns:BRAND"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="compound" type="tns:COMPOUND"/>

  <complexType name="COMPOUND">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="display_name" type="string" minOccurs="0"/>
      <element name="nctr_isis_id" type="string" minOccurs="0"/>
      <element name="smiles" type="string" minOccurs="0"/>
      <element name="canonical_smiles" type="string" minOccurs="0"/>
      <element name="cas" type="string" minOccurs="0"/>
      <element name="mol_formula" type="string" minOccurs="0"/>
      <element name="mol_weight" type="decimal" minOccurs="0"/>
      <element name="mol_file" type="string" minOccurs="0"/>
      <element name="inchi" type="string" minOccurs="0"/>
      <element name="inchi_key" type="string" minOccurs="0"/>
      <element name="standard_inchi" type="string" minOccurs="0"/>
      <element name="standard_inchi_key" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="drug-listing" type="tns:DRUG-listing" minOccurs="0"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="compound-listing" type="tns:COMPOUND-listing"/>

  <complexType name="COMPOUND-listing">
    <sequence>
      <element name="compound" type="tns:COMPOUND"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="dliscore_advisory" type="tns:DLISCORE_ADVISORY"/>

  <complexType name="DLISCORE_ADVISORY">
    <sequence>
      <!-- fields -->
      <element name="drug_liver_injury_score_id" type="decimal" minOccurs="1"/>
      <element name="advisory_id" type="decimal" minOccurs="1"/>
      <element name="seq" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="advisory" type="tns:ADVISORY" minOccurs="0"/>
      <element name="drug_liver_injury_score" type="tns:DRUG_LIVER_INJURY_SCORE" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="dliscore_advisory-listing" type="tns:DLISCORE_ADVISORY-listing"/>

  <complexType name="DLISCORE_ADVISORY-listing">
    <sequence>
      <element name="dliscore_advisory" type="tns:DLISCORE_ADVISORY"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="dliscore_reference" type="tns:DLISCORE_REFERENCE"/>

  <complexType name="DLISCORE_REFERENCE">
    <sequence>
      <!-- fields -->
      <element name="drug_liver_injury_score_id" type="decimal" minOccurs="1"/>
      <element name="reference_id" type="decimal" minOccurs="1"/>
      <element name="seq" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="drug_liver_injury_score" type="tns:DRUG_LIVER_INJURY_SCORE" minOccurs="0"/>
      <element name="reference" type="tns:REFERENCE" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="dliscore_reference-listing" type="tns:DLISCORE_REFERENCE-listing"/>

  <complexType name="DLISCORE_REFERENCE-listing">
    <sequence>
      <element name="dliscore_reference" type="tns:DLISCORE_REFERENCE"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug" type="tns:DRUG"/>

  <complexType name="DRUG">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="compound_id" type="decimal" minOccurs="1"/>
      <element name="mesh_id" type="string" minOccurs="0"/>
      <element name="drugbank_id" type="string" minOccurs="0"/>
      <element name="cid" type="decimal" minOccurs="0"/>
      <element name="therapeutic_indications" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="drug_histopath_class-listing" type="tns:DRUG_HISTOPATH_CLASS-listing" minOccurs="0"/>
      <element name="brand-listing" type="tns:BRAND-listing" minOccurs="0"/>
      <element name="drug_functional_category-listing" type="tns:DRUG_FUNCTIONAL_CATEGORY-listing" minOccurs="0"/>
      <element name="drug_link-listing" type="tns:DRUG_LINK-listing" minOccurs="0"/>
      <element name="advisory-listing" type="tns:ADVISORY-listing" minOccurs="0"/>
      <element name="drug_market_status-listing" type="tns:DRUG_MARKET_STATUS-listing" minOccurs="0"/>
      <element name="atc_classification-listing" type="tns:ATC_CLASSIFICATION-listing" minOccurs="0"/>
      <element name="drug_synonym-listing" type="tns:DRUG_SYNONYM-listing" minOccurs="0"/>
      <element name="fda_application-listing" type="tns:FDA_APPLICATION-listing" minOccurs="0"/>
      <element name="drug_liver_injury_score-listing" type="tns:DRUG_LIVER_INJURY_SCORE-listing" minOccurs="0"/>
      <element name="drug_reference-listing" type="tns:DRUG_REFERENCE-listing" minOccurs="0"/>
      
      <!-- parent elements -->
      <element name="compound" type="tns:COMPOUND" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug-listing" type="tns:DRUG-listing"/>

  <complexType name="DRUG-listing">
    <sequence>
      <element name="drug" type="tns:DRUG"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_functional_category" type="tns:DRUG_FUNCTIONAL_CATEGORY"/>

  <complexType name="DRUG_FUNCTIONAL_CATEGORY">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="functional_category_id" type="decimal" minOccurs="1"/>
      <element name="authority_id" type="decimal" minOccurs="1"/>
      <element name="seq" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="authority" type="tns:AUTHORITY" minOccurs="0"/>
      <element name="drug" type="tns:DRUG" minOccurs="0"/>
      <element name="functional_category" type="tns:FUNCTIONAL_CATEGORY" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_functional_category-listing" type="tns:DRUG_FUNCTIONAL_CATEGORY-listing"/>

  <complexType name="DRUG_FUNCTIONAL_CATEGORY-listing">
    <sequence>
      <element name="drug_functional_category" type="tns:DRUG_FUNCTIONAL_CATEGORY"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_histopath_class" type="tns:DRUG_HISTOPATH_CLASS"/>

  <complexType name="DRUG_HISTOPATH_CLASS">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="histopath_cass_id" type="decimal" minOccurs="1"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="drug" type="tns:DRUG" minOccurs="0"/>
      <element name="histopath_class" type="tns:HISTOPATH_CLASS" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_histopath_class-listing" type="tns:DRUG_HISTOPATH_CLASS-listing"/>

  <complexType name="DRUG_HISTOPATH_CLASS-listing">
    <sequence>
      <element name="drug_histopath_class" type="tns:DRUG_HISTOPATH_CLASS"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_link" type="tns:DRUG_LINK"/>

  <complexType name="DRUG_LINK">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="href" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="drug" type="tns:DRUG" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_link-listing" type="tns:DRUG_LINK-listing"/>

  <complexType name="DRUG_LINK-listing">
    <sequence>
      <element name="drug_link" type="tns:DRUG_LINK"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_liver_injury_score" type="tns:DRUG_LIVER_INJURY_SCORE"/>

  <complexType name="DRUG_LIVER_INJURY_SCORE">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="route_id" type="decimal" minOccurs="1"/>
      <element name="authority_id" type="decimal" minOccurs="1"/>
      <element name="protocol_id" type="decimal" minOccurs="1"/>
      <element name="score_code" type="string" minOccurs="1"/>
      
      <!-- child elements -->
      <element name="dliscore_advisory-listing" type="tns:DLISCORE_ADVISORY-listing" minOccurs="0"/>
      <element name="dliscore_reference-listing" type="tns:DLISCORE_REFERENCE-listing" minOccurs="0"/>
      
      <!-- parent elements -->
      <element name="authority" type="tns:AUTHORITY" minOccurs="0"/>
      <element name="drug" type="tns:DRUG" minOccurs="0"/>
      <element name="protocol" type="tns:PROTOCOL" minOccurs="0"/>
      <element name="route" type="tns:ROUTE" minOccurs="0"/>
      <element name="score" type="tns:SCORE" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_liver_injury_score-listing" type="tns:DRUG_LIVER_INJURY_SCORE-listing"/>

  <complexType name="DRUG_LIVER_INJURY_SCORE-listing">
    <sequence>
      <element name="drug_liver_injury_score" type="tns:DRUG_LIVER_INJURY_SCORE"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_market_status" type="tns:DRUG_MARKET_STATUS"/>

  <complexType name="DRUG_MARKET_STATUS">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="route_id" type="decimal" minOccurs="1"/>
      <element name="country_code" type="string" minOccurs="1"/>
      <element name="market_status_id" type="decimal" minOccurs="1"/>
      <element name="date" type="dateTime" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="drug" type="tns:DRUG" minOccurs="0"/>
      <element name="market_status" type="tns:MARKET_STATUS" minOccurs="0"/>
      <element name="route" type="tns:ROUTE" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_market_status-listing" type="tns:DRUG_MARKET_STATUS-listing"/>

  <complexType name="DRUG_MARKET_STATUS-listing">
    <sequence>
      <element name="drug_market_status" type="tns:DRUG_MARKET_STATUS"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_reference" type="tns:DRUG_REFERENCE"/>

  <complexType name="DRUG_REFERENCE">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="reference_id" type="decimal" minOccurs="1"/>
      <element name="priority" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="drug" type="tns:DRUG" minOccurs="0"/>
      <element name="reference" type="tns:REFERENCE" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_reference-listing" type="tns:DRUG_REFERENCE-listing"/>

  <complexType name="DRUG_REFERENCE-listing">
    <sequence>
      <element name="drug_reference" type="tns:DRUG_REFERENCE"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_synonym" type="tns:DRUG_SYNONYM"/>

  <complexType name="DRUG_SYNONYM">
    <sequence>
      <!-- fields -->
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="drug_synonym" type="string" minOccurs="1"/>
      <element name="language_code" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="drug" type="tns:DRUG" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_synonym-listing" type="tns:DRUG_SYNONYM-listing"/>

  <complexType name="DRUG_SYNONYM-listing">
    <sequence>
      <element name="drug_synonym" type="tns:DRUG_SYNONYM"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="fda_application" type="tns:FDA_APPLICATION"/>

  <complexType name="FDA_APPLICATION">
    <sequence>
      <!-- fields -->
      <element name="fda_application_num" type="decimal" minOccurs="1"/>
      <element name="drug_id" type="decimal" minOccurs="1"/>
      <element name="fda_doc_type" type="string" minOccurs="0"/>
      <element name="manufacturer_id" type="decimal" minOccurs="0"/>
      <element name="fda_chemical_type_num" type="decimal" minOccurs="0"/>
      <element name="fda_document_type_code" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="drug" type="tns:DRUG" minOccurs="0"/>
      <element name="fda_chemical_type" type="tns:FDA_CHEMICAL_TYPE" minOccurs="0"/>
      <element name="fda_document_type" type="tns:FDA_DOCUMENT_TYPE" minOccurs="0"/>
      <element name="manufacturer" type="tns:MANUFACTURER" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="fda_application-listing" type="tns:FDA_APPLICATION-listing"/>

  <complexType name="FDA_APPLICATION-listing">
    <sequence>
      <element name="fda_application" type="tns:FDA_APPLICATION"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="fda_chemical_type" type="tns:FDA_CHEMICAL_TYPE"/>

  <complexType name="FDA_CHEMICAL_TYPE">
    <sequence>
      <!-- fields -->
      <element name="chemical_type_num" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="0"/>
      <element name="description" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="fda_application-listing" type="tns:FDA_APPLICATION-listing" minOccurs="0"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="fda_chemical_type-listing" type="tns:FDA_CHEMICAL_TYPE-listing"/>

  <complexType name="FDA_CHEMICAL_TYPE-listing">
    <sequence>
      <element name="fda_chemical_type" type="tns:FDA_CHEMICAL_TYPE"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="fda_document_type" type="tns:FDA_DOCUMENT_TYPE"/>

  <complexType name="FDA_DOCUMENT_TYPE">
    <sequence>
      <!-- fields -->
      <element name="document_type_code" type="string" minOccurs="1"/>
      <element name="name" type="string" minOccurs="0"/>
      <element name="description" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="fda_application-listing" type="tns:FDA_APPLICATION-listing" minOccurs="0"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="fda_document_type-listing" type="tns:FDA_DOCUMENT_TYPE-listing"/>

  <complexType name="FDA_DOCUMENT_TYPE-listing">
    <sequence>
      <element name="fda_document_type" type="tns:FDA_DOCUMENT_TYPE"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="functional_category" type="tns:FUNCTIONAL_CATEGORY"/>

  <complexType name="FUNCTIONAL_CATEGORY">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      <element name="parent_functional_category_id" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="drug_functional_category-listing" type="tns:DRUG_FUNCTIONAL_CATEGORY-listing" minOccurs="0"/>
      <element name="functional_category-listing" type="tns:FUNCTIONAL_CATEGORY-listing" minOccurs="0"/>
      
      <!-- parent elements -->
      <element name="functional_category" type="tns:FUNCTIONAL_CATEGORY" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="functional_category-listing" type="tns:FUNCTIONAL_CATEGORY-listing"/>

  <complexType name="FUNCTIONAL_CATEGORY-listing">
    <sequence>
      <element name="functional_category" type="tns:FUNCTIONAL_CATEGORY"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="histopath_class" type="tns:HISTOPATH_CLASS"/>

  <complexType name="HISTOPATH_CLASS">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      <element name="parent_class_id" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="drug_histopath_class-listing" type="tns:DRUG_HISTOPATH_CLASS-listing" minOccurs="0"/>
      <element name="histopath_class-listing" type="tns:HISTOPATH_CLASS-listing" minOccurs="0"/>
      <element name="histopath_class_concept-listing" type="tns:HISTOPATH_CLASS_CONCEPT-listing" minOccurs="0"/>
      
      <!-- parent elements -->
      <element name="histopath_class" type="tns:HISTOPATH_CLASS" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="histopath_class-listing" type="tns:HISTOPATH_CLASS-listing"/>

  <complexType name="HISTOPATH_CLASS-listing">
    <sequence>
      <element name="histopath_class" type="tns:HISTOPATH_CLASS"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="histopath_class_concept" type="tns:HISTOPATH_CLASS_CONCEPT"/>

  <complexType name="HISTOPATH_CLASS_CONCEPT">
    <sequence>
      <!-- fields -->
      <element name="histopath_class_id" type="decimal" minOccurs="1"/>
      <element name="snomedct_concept_id" type="decimal" minOccurs="1"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="histopath_class" type="tns:HISTOPATH_CLASS" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="histopath_class_concept-listing" type="tns:HISTOPATH_CLASS_CONCEPT-listing"/>

  <complexType name="HISTOPATH_CLASS_CONCEPT-listing">
    <sequence>
      <element name="histopath_class_concept" type="tns:HISTOPATH_CLASS_CONCEPT"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="manufacturer" type="tns:MANUFACTURER"/>

  <complexType name="MANUFACTURER">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      
      <!-- child elements -->
      <element name="brand-listing" type="tns:BRAND-listing" minOccurs="0"/>
      <element name="fda_application-listing" type="tns:FDA_APPLICATION-listing" minOccurs="0"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="manufacturer-listing" type="tns:MANUFACTURER-listing"/>

  <complexType name="MANUFACTURER-listing">
    <sequence>
      <element name="manufacturer" type="tns:MANUFACTURER"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="market_status" type="tns:MARKET_STATUS"/>

  <complexType name="MARKET_STATUS">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="drug_market_status-listing" type="tns:DRUG_MARKET_STATUS-listing" minOccurs="0"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="market_status-listing" type="tns:MARKET_STATUS-listing"/>

  <complexType name="MARKET_STATUS-listing">
    <sequence>
      <element name="market_status" type="tns:MARKET_STATUS"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="protocol" type="tns:PROTOCOL"/>

  <complexType name="PROTOCOL">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="file_contents" type="base64Binary" minOccurs="0"/>
      <element name="file_name" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="drug_liver_injury_score-listing" type="tns:DRUG_LIVER_INJURY_SCORE-listing" minOccurs="0"/>
      <element name="protocol_param-listing" type="tns:PROTOCOL_PARAM-listing" minOccurs="0"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="protocol-listing" type="tns:PROTOCOL-listing"/>

  <complexType name="PROTOCOL-listing">
    <sequence>
      <element name="protocol" type="tns:PROTOCOL"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="protocol_param" type="tns:PROTOCOL_PARAM"/>

  <complexType name="PROTOCOL_PARAM">
    <sequence>
      <!-- fields -->
      <element name="protocol_id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="string_value" type="string" minOccurs="0"/>
      <element name="numeric_value" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="protocol" type="tns:PROTOCOL" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="protocol_param-listing" type="tns:PROTOCOL_PARAM-listing"/>

  <complexType name="PROTOCOL_PARAM-listing">
    <sequence>
      <element name="protocol_param" type="tns:PROTOCOL_PARAM"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="reference" type="tns:REFERENCE"/>

  <complexType name="REFERENCE">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="publication" type="string" minOccurs="1"/>
      
      <!-- child elements -->
      <element name="drug_reference-listing" type="tns:DRUG_REFERENCE-listing" minOccurs="0"/>
      <element name="dliscore_reference-listing" type="tns:DLISCORE_REFERENCE-listing" minOccurs="0"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="reference-listing" type="tns:REFERENCE-listing"/>

  <complexType name="REFERENCE-listing">
    <sequence>
      <element name="reference" type="tns:REFERENCE"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="route" type="tns:ROUTE"/>

  <complexType name="ROUTE">
    <sequence>
      <!-- fields -->
      <element name="id" type="decimal" minOccurs="1"/>
      <element name="name" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="drug_liver_injury_score-listing" type="tns:DRUG_LIVER_INJURY_SCORE-listing" minOccurs="0"/>
      <element name="drug_market_status-listing" type="tns:DRUG_MARKET_STATUS-listing" minOccurs="0"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="route-listing" type="tns:ROUTE-listing"/>

  <complexType name="ROUTE-listing">
    <sequence>
      <element name="route" type="tns:ROUTE"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="score" type="tns:SCORE"/>

  <complexType name="SCORE">
    <sequence>
      <!-- fields -->
      <element name="authority_id" type="decimal" minOccurs="1"/>
      <element name="score_code" type="string" minOccurs="1"/>
      <element name="description" type="string" minOccurs="0"/>
      <element name="severity_seq" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="drug_liver_injury_score-listing" type="tns:DRUG_LIVER_INJURY_SCORE-listing" minOccurs="0"/>
      
      <!-- parent elements -->
      <element name="authority" type="tns:AUTHORITY" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="score-listing" type="tns:SCORE-listing"/>

  <complexType name="SCORE-listing">
    <sequence>
      <element name="score" type="tns:SCORE"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
</schema>
