src/test/resources/metadata/ora_xmlschema_INLINE_el_colls.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://example/namespace"
        xmlns:tns="http://example/namespace"
        elementFormDefault="qualified"
        xmlns="http://www.w3.org/2001/XMLSchema" >
<!-- 
     This XMLSchema was auto-generated by gov.fda.nctr.xdagen.DatabaseXmlSchemaGenerator.
--> 

  
  <element name="advisory" type="tns:advisory"/>

  <complexType name="advisory">
    <sequence>
      <!-- fields -->
       
      <element name="id" type="decimal" minOccurs="1"/>
 
      <element name="drug_id" type="decimal" minOccurs="1"/>
 
      <element name="advisory_type_id" type="decimal" minOccurs="1"/>
 
      <element name="text" type="string" minOccurs="1"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="advisory_type" type="tns:advisory_type" minOccurs="0"/>
      <element name="drug" type="tns:drug" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="advisory-listing" type="tns:advisory-listing"/>

  <complexType name="advisory-listing">
    <sequence>
      <element name="advisory" type="tns:advisory"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="advisory_type" type="tns:advisory_type"/>

  <complexType name="advisory_type">
    <sequence>
      <!-- fields -->
       
      <element name="id" type="decimal" minOccurs="1"/>
 
      <element name="name" type="string" minOccurs="1"/>
 
      <element name="authority_id" type="decimal" minOccurs="1"/>
      
      <!-- child elements -->
      <element name="advisory" type="tns:advisory" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
      <element name="authority" type="tns:authority" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="advisory_type-listing" type="tns:advisory_type-listing"/>

  <complexType name="advisory_type-listing">
    <sequence>
      <element name="advisory_type" type="tns:advisory_type"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="authority" type="tns:authority"/>

  <complexType name="authority">
    <sequence>
      <!-- fields -->
       
      <element name="id" type="decimal" minOccurs="1"/>
 
      <element name="name" type="string" minOccurs="1"/>
 
      <element name="url" type="string" minOccurs="0"/>
 
      <element name="description" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="advisory_type" type="tns:advisory_type" minOccurs="0" maxOccurs="unbounded"/>
      <element name="drug_functional_category" type="tns:drug_functional_category" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="authority-listing" type="tns:authority-listing"/>

  <complexType name="authority-listing">
    <sequence>
      <element name="authority" type="tns:authority"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="brand" type="tns:brand"/>

  <complexType name="brand">
    <sequence>
      <!-- fields -->
       
      <element name="drug_id" type="decimal" minOccurs="1"/>
 
      <element name="brand_name" type="string" minOccurs="1"/>
 
      <element name="language_code" type="string" minOccurs="0"/>
 
      <element name="manufacturer_id" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="drug" type="tns:drug" minOccurs="0"/>
      <element name="manufacturer" type="tns:manufacturer" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="brand-listing" type="tns:brand-listing"/>

  <complexType name="brand-listing">
    <sequence>
      <element name="brand" type="tns:brand"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="compound" type="tns:compound"/>

  <complexType name="compound">
    <sequence>
      <!-- fields -->
       
      <element name="id" type="decimal" minOccurs="1"/>
 
      <element name="display_name" type="string" minOccurs="0"/>
 
      <element name="nctr_isis_id" type="string" minOccurs="0"/>
 
      <element name="smiles" type="string" minOccurs="0"/>
 
      <element name="canonical_smiles" type="string" minOccurs="0"/>
 
      <element name="cas" type="string" minOccurs="0"/>
 
      <element name="mol_formula" type="string" minOccurs="0"/>
 
      <element name="mol_weight" type="decimal" minOccurs="0"/>
 
      <element name="mol_file" type="string" minOccurs="0"/>
 
      <element name="inchi" type="string" minOccurs="0"/>
 
      <element name="inchi_key" type="string" minOccurs="0"/>
 
      <element name="standard_inchi" type="string" minOccurs="0"/>
 
      <element name="standard_inchi_key" type="string" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="drug" type="tns:drug" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="compound-listing" type="tns:compound-listing"/>

  <complexType name="compound-listing">
    <sequence>
      <element name="compound" type="tns:compound"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug" type="tns:drug"/>

  <complexType name="drug">
    <sequence>
      <!-- fields -->
       
      <element name="id" type="decimal" minOccurs="1"/>
 
      <element name="name" type="string" minOccurs="1"/>
 
      <element name="compound_id" type="decimal" minOccurs="1"/>
 
      <element name="mesh_id" type="string" minOccurs="0"/>
 
      <element name="drugbank_id" type="string" minOccurs="0"/>
 
      <element name="cid" type="decimal" minOccurs="0"/>
 
      <element name="therapeutic_indications" type="string" minOccurs="0"/>
 
      <element name="spl">
        <complexType>
            <sequence>
                <any processContents="lax" minOccurs="0" maxOccurs="1"/>
            </sequence>
        </complexType>
      </element>
      
      <!-- child elements -->
      <element name="advisory" type="tns:advisory" minOccurs="0" maxOccurs="unbounded"/>
      <element name="brand" type="tns:brand" minOccurs="0" maxOccurs="unbounded"/>
      <element name="drug_functional_category" type="tns:drug_functional_category" minOccurs="0" maxOccurs="unbounded"/>
      <element name="drug_reference" type="tns:drug_reference" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
      <element name="compound" type="tns:compound" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug-listing" type="tns:drug-listing"/>

  <complexType name="drug-listing">
    <sequence>
      <element name="drug" type="tns:drug"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_functional_category" type="tns:drug_functional_category"/>

  <complexType name="drug_functional_category">
    <sequence>
      <!-- fields -->
       
      <element name="drug_id" type="decimal" minOccurs="1"/>
 
      <element name="functional_category_id" type="decimal" minOccurs="1"/>
 
      <element name="authority_id" type="decimal" minOccurs="1"/>
 
      <element name="seq" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="authority" type="tns:authority" minOccurs="0"/>
      <element name="drug" type="tns:drug" minOccurs="0"/>
      <element name="functional_category" type="tns:functional_category" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_functional_category-listing" type="tns:drug_functional_category-listing"/>

  <complexType name="drug_functional_category-listing">
    <sequence>
      <element name="drug_functional_category" type="tns:drug_functional_category"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="drug_reference" type="tns:drug_reference"/>

  <complexType name="drug_reference">
    <sequence>
      <!-- fields -->
       
      <element name="drug_id" type="decimal" minOccurs="1"/>
 
      <element name="reference_id" type="decimal" minOccurs="1"/>
 
      <element name="priority" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      
      <!-- parent elements -->
      <element name="drug" type="tns:drug" minOccurs="0"/>
      <element name="reference" type="tns:reference" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="drug_reference-listing" type="tns:drug_reference-listing"/>

  <complexType name="drug_reference-listing">
    <sequence>
      <element name="drug_reference" type="tns:drug_reference"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="functional_category" type="tns:functional_category"/>

  <complexType name="functional_category">
    <sequence>
      <!-- fields -->
       
      <element name="id" type="decimal" minOccurs="1"/>
 
      <element name="name" type="string" minOccurs="1"/>
 
      <element name="description" type="string" minOccurs="0"/>
 
      <element name="parent_functional_category_id" type="decimal" minOccurs="0"/>
      
      <!-- child elements -->
      <element name="drug_functional_category" type="tns:drug_functional_category" minOccurs="0" maxOccurs="unbounded"/>
      <element name="child-functional_category" type="tns:functional_category" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
      <element name="parent-functional_category" type="tns:functional_category" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="functional_category-listing" type="tns:functional_category-listing"/>

  <complexType name="functional_category-listing">
    <sequence>
      <element name="functional_category" type="tns:functional_category"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="manufacturer" type="tns:manufacturer"/>

  <complexType name="manufacturer">
    <sequence>
      <!-- fields -->
       
      <element name="id" type="decimal" minOccurs="1"/>
 
      <element name="name" type="string" minOccurs="1"/>
      
      <!-- child elements -->
      <element name="brand" type="tns:brand" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="manufacturer-listing" type="tns:manufacturer-listing"/>

  <complexType name="manufacturer-listing">
    <sequence>
      <element name="manufacturer" type="tns:manufacturer"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  
  <element name="reference" type="tns:reference"/>

  <complexType name="reference">
    <sequence>
      <!-- fields -->
       
      <element name="id" type="decimal" minOccurs="1"/>
 
      <element name="publication" type="string" minOccurs="1"/>
      
      <!-- child elements -->
      <element name="drug_reference" type="tns:drug_reference" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- parent elements -->
    </sequence>
  </complexType>

  <element name="reference-listing" type="tns:reference-listing"/>

  <complexType name="reference-listing">
    <sequence>
      <element name="reference" type="tns:reference"	minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
</schema>